<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home" icon="close"></ion-back-button>
    </ion-buttons>

    <ion-title>New Crime</ion-title>

    <ion-buttons slot="end">
      <ion-button (click)="saveCrime()" fill="clear">save</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="add-form">
    <ion-grid>
      <ion-row>
        <ion-col>
          <ion-searchbar
            (ionChange)="onSearch()"
            [(ngModel)]="searchQuery"
            inputmode="search"
            placeholder="Search for location on map"
            type="search"
            animated="true"
            autocomplete="street-address"
            color="primary"
            showCancelButton="never"
          ></ion-searchbar>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col>
          <div *ngIf="!crimeLocation" class="current-location-button">
            <ion-button (click)="useCurrentLocation()" slot="start"  color="primary" fill="clear">Or Use my Current Location</ion-button>
          </div>

          <div *ngIf="crimeLocation" class="prediction-list">
            <ion-list>
              <ion-item>
                <ion-icon color="primary" name="location" slot="start"></ion-icon>
                <ion-label color="primary">{{crimeLocation.name}}</ion-label>
              </ion-item>
            </ion-list>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>


  </div>
  <div class="map-container">
    <app-custom-map></app-custom-map>
  </div>
</ion-content>
