
ion-grid {
  height: 100%;
  background-color: #ff5722;
}

ion-row {
  height: 100%;
}

ion-col {
  margin: 0 10%;
  .social-login {
    margin: 0 12%;
  }

  div {
    text-align: center;
  }
}

ion-img {
  max-width: 200px;
  text-align: center;
  margin: 0 auto;
}
