<ion-header translucent="true">
  <ion-toolbar>
    <ion-title size="large">
      Crime Alert
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
<div class="map-container">
  <app-custom-map></app-custom-map>
</div>
</ion-content>
<ion-fab vertical="bottom" horizontal="end" >
  <ion-fab-button (click)="setCurrentLocation()" color="light">
    <ion-icon name="locate"></ion-icon>
  </ion-fab-button>
  <br>
  <ion-fab-button routerLink="/home/report-crime">
    <ion-icon name="add"></ion-icon>
  </ion-fab-button>
</ion-fab>
