ion-content {
  position: absolute;
  top: 0;
}
.map-container {
  height: 100%;
}

ion-header {
  --background: transparent;
}

ion-toolbar {
  --min-height: 80px;
  --background: grey;
  --opacity: 0.7;
  --color: white;
}

ion-title {
  font-weight: bold;
  font-size: 30px;
}

// styling for small screen
@media only screen and (min-width: 0px) and (max-width: 599.9px) {
  ion-toolbar {
    --min-height: 60px;
  }

  ion-title {
    font-size: 25px;
  }
}
