ion-content {
  //--offset-top: 0;
  position: absolute;
  top: 0;
}
#map {
  height: 100%;
}


ion-header {
  --background: transparent;
}

ion-toolbar {
  --min-height: 80px;
  --background: grey;
  --opacity: .7;
  --color: white;
}

ion-title {
  font-weight: bold;
  font-size: 30px;
}
